
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

#header {
    position: fixed;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    gap: 2rem;
    background: rgba(255,255,255,0.75);
    padding: 1rem;
    top: 0;
    width: 100%;
    z-index: 10;
}

div#main {
    display: flex;
    flex-direction: column;
}

section {
    position: relative;
    min-height: 100vh;
    padding: 8rem 0;
}

section#home {
    color: white;
    background: rgba(0, 0, 0, 0.35);
}

#down-arrow-button {
    position: absolute;
    bottom: 8rem;
    left: 50%;
}

section img.background {
    width: 100vw;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    object-fit: cover;
}

h2 {
    font-weight: 300;
    font-family: "Cormorant Garamond", serif;
    font-size: 7rem;
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

h4 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 300;
}

p.large {
    font-size: 24px;
}

p.small {
    font-size: 15px;
}

hr {
    margin: 2.5rem;
}

li {
    line-height: 1.7;
}

li::marker {
    color: #4e567e;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #4e567e;
}

.portfolio-container {
    display: flex;
    padding-top: 3rem;
}
.portfolio-cards {
    align-self: center;
    width: 80vw;
}

.portfolio-bg {
    max-width: 40%;
    align-self: center;
}

.container {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 330px 300px;
    grid-gap: 20px;
}

.container .box {
    border-radius: 10px;
    padding: 24px 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
}

img.social-icon {
    width: 30px;
    height: 30px;
}
#name-title {
    position: absolute; 
    top: 65%; 
    left: 55%;
}
.about-container {
    background-color: white;
    width: 50%;
    padding: 4rem;
    margin: 3rem auto;
    text-align: center;
}
.about-container ul {
    text-align: left;
    columns: 2;
    font-size: 1.25rem;
    margin: 2rem 3rem;
    gap: 3rem;
}
/*@media screen and (min-width: 501px) and (max-width: 1000px) {
    #name-title h1 {
        font-weight: 350;
        font-size: 2rem;
    }

    #name-title h2 {
        font-weight: 200;
        font-size: 1rem;
    }

    #name-title {
        position: absolute;
        margin-top: 20%;
    }

}*/


@media screen and (max-width: 500px) {
    #name-title h2 {
        font-weight: 350;
        font-size: 2rem;
    }

    #name-title h3 {
        font-weight: 200;
        font-size: 1rem;
    }

    #name-title {
        position: absolute;
        margin-top: 25%;
        align-content: center;
        top: 30%;
        left: 2rem;
    }
    section {
        position: relative;
        min-height: 80vh;
        padding: 4rem 0;
    }

    section#home {
        min-height: 35vh;
        position: relative;
        top: initial;
    }

    #down-arrow-button {
        position: absolute;
        bottom: 1rem;
        left: 85%;
    }

    .about-container {
        width: 80%;
        padding: 1.5rem;
        margin: 1.5rem auto;
        text-align: center;
    }
    .about-container p {
        font-size: 0.9rem;
    }
    .about-container ul {
        text-align: left;
        columns: 1;
        font-size: 0.75rem;
        margin: 2rem 3rem;
        gap: 3rem;
    }
    #header {
        font-size: 1.2rem;
        position: static;
        display: grid;
        justify-content: initial;
        width: 100vw;
        top: initial;
        background-color: lightgray;
        background: initial;
        padding: initial;
        gap: initial;
        padding-bottom: 2rem;
    }
    .header-ref-container {
        display: grid;
        width: 40vw;
        margin: auto;

    }
    #header a {
        
        margin: 5%;
        font-weight: 650;
        border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }  
}
