
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

div#main {
    display: flex;
    flex-direction: column;
}

section {
    position: relative;
    min-height: 100vh;
    padding: 8rem 0;
}

section#home {
    color: white;
    background: rgba(0, 0, 0, 0.35);
}

section img.background {
    width: 100vw;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    object-fit: cover;
}

h1 {
    font-weight: 300;
    font-family: "Cormorant Garamond", serif;
    font-size: 7rem;
    margin: 0;
}



h2 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 300;
}

p.large {
    font-size: 24px;
}

p.small {
    font-size: 15px;
}

hr {
    margin: 2.5rem;
}

li {
    line-height: 1.7;
}

li::marker {
    color: #4e567e;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #4e567e;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}

.portfolio-bg {
    max-width: 40%;
    align-self: center;
}


.container {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 330px 300px;
    grid-gap: 20px;
}


.container .box {
    border-radius: 10px;
    padding: 24px 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
}

img.social-icon {
    width: 30px;
    height: 30px;
}
#name-title {
    position: absolute; 
    top: 65%; 
    left: 55%;
}

@media screen and (max-width: 500px) {
    h1 {
        font-weight: 350;
        font-family: "Cormorant Garamond", serif;
        font-size: 3.5rem;
    }
    h2 {
        font-weight: 200;
        font-family: "Cormorant Garamond", serif;
        font-size: 1.5rem;

    }
    #name-title {
        position: absolute;
        top: 10px;
        margin-top: -40%;
    }
    .portfolio-container {
        flex-direction: column;
    }
    .portfolio-bg {
        max-width: 100%;
        align-self: center;
    }
    .container {
        margin: 20px auto;
        display: inline;
        grid-template-columns: 330px 300px;
        grid-gap: 20px;
    }
    #name-title {
        
        position: absolute;
        align-content:center;
        top: 30%;
        left: 2rem;
    }
}