/* /Layout/Footer.razor.rz.scp.css */
#contact[b-zqjdoh9eyu] {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 5rem 0 3rem;
    width: 100vw;
}

.created-by[b-zqjdoh9eyu]{
    color:white;
}
/* /Layout/Header.razor.rz.scp.css */
